<div class="column-layout product-details">
  <div class="column-layout background">
    <div class="column-layout product-details">
      <div class="column-layout product-details">
        <div class="row-layout header">
          <div class="row-layout left">
            <img src="/assets/3c54e5ae61c1ca88d38e16b4a3c91eb22cc325e9.png" class="auto-shop_logo" />
            <button igxButton="flat" igxRipple class="auto-body-button">
              Auto Body Parts
            </button>
            <button igxButton="flat" igxRipple class="lighting-button">
              Lighting
            </button>
            <button igxButton="flat" igxRipple class="engine-drivetrain-button">
              Engine &amp; Drivetrain
            </button>
            <button igxButton="flat" igxRipple class="engine-drivetrain-button">
              Brakes &amp; Suspension
            </button>
            <button igxButton="flat" igxRipple class="interior">
              Interior
            </button>
            <button igxButton="flat" igxRipple class="exterior">
              EXterior
            </button>
          </div>
          <div class="row-layout right">
            <button igxButton="icon" igxRipple class="search-button">
              <igx-icon>
                search
              </igx-icon>
            </button>
            <button igxButton="icon" igxRipple class="search-button">
              <igx-icon>
                account_circle
              </igx-icon>
            </button>
            <button igxButton="icon" igxRipple class="search-button">
              <igx-icon>
                shopping_basket
              </igx-icon>
            </button>
          </div>
        </div>
        <div class="row-layout subheader">
          <div class="column-layout group">
            <img src="/assets/fbeff80c44630a8d3cefde0ed91f7c77e163db31.png" class="auto-deals_logo" />
            <p class="text">
              Enjoy 20% off on all your weekend purchases
            </p>
          </div>
        </div>
        <div class="column-layout body">
          <div class="row-layout breadcrumb">
            <a href="url" target="_blank" class="hyperlink-1"></a>
            <p class="slash-1">
              /
            </p>
            <a href="url" target="_blank" class="hyperlink-1"></a>
            <p class="slash-1">
              /
            </p>
            <a href="url" target="_blank" class="hyperlink-1"></a>
            <p class="slash-1">
              /
            </p>
            <a href="url" target="_blank" class="hyperlink-1"></a>
            <p class="slash-1">
              /
            </p>
            <p class="slash-4-copy">
              Alternator
            </p>
          </div>
          <div class="row-layout product">
            <div class="column-layout thumbs">
              <div class="image-1"></div>
              <div class="image-1"></div>
              <div class="image-1"></div>
            </div>
            <div class="image-large"></div>
            <div class="column-layout product-details_1">
              <h5 class="product-name">
                Gold Alternator
              </h5>
              <div class="row-layout ratings">
                <igx-icon class="icon-1">
                  star
                </igx-icon>
                <igx-icon class="icon-1">
                  star
                </igx-icon>
                <igx-icon class="icon-1">
                  star
                </igx-icon>
                <igx-icon class="icon-1">
                  star
                </igx-icon>
                <igx-icon class="icon-5">
                  star_half
                </igx-icon>
                <a href="url" target="_blank" class="hyperlink-1"></a>
              </div>
              <h4 class="content">
                $59.90
              </h4>
              <p class="igx-typography__subtitle-1 sku">
                PART #ABC123-456789 | SKU: A1234-01
              </p>
              <a href="url" target="_blank" class="hyperlink-1"></a>
              <p class="igx-typography__body-2 description">
                Generic Brand alternators are engineered to provide the amp output necessary to power today’s vehicles. Every unit is 100% NEW (not remanufactured) and made with proprietary components and processes to ensure maximum life and performance.
              </p>
              <igx-badge type="success" value="IN STOCK" class="stock-badge"></igx-badge>
              <igx-select type="box" placeholder="Placeholder" class="quantity-select">
                <igx-select-item value="Option">
                  Option
                </igx-select-item>
                <label igxLabel>Quantity</label>
              </igx-select>
              <igx-buttongroup class="delivery-options">
                <button igxButton="flat" igxRipple>
                  Button
                </button>
                <button igxButton="flat" igxRipple>
                  Button
                </button>
              </igx-buttongroup>
              <p class="igx-typography__body-2 delivery">
                Select Delivery Option
              </p>
              <button igxButton="raised" igxRipple class="add-button">
                <igx-icon>
                  shopping_basket
                </igx-icon>
                <span>ADD TO CART</span>
              </button>
            </div>
          </div>
          <div class="row-layout row">
            <div class="column-layout left-column">
              <h5 class="product-specs">
                Product Specifications
              </h5>
              <div class="row-layout row-1">
                <p class="left_1">
                  Part #
                </p>
                <p class="right_1">
                  ABC123-456789
                </p>
              </div>
              <div class="row-layout row-2">
                <div class="row-layout group_1">
                  <p class="left_2">
                    SKU #
                  </p>
                </div>
                <div class="row-layout group_2">
                  <p class="right_2">
                    740988
                  </p>
                </div>
              </div>
              <div class="row-layout row-3">
                <p class="left_3">
                  Weight
                </p>
                <p class="right_3">
                  10 lbs
                </p>
              </div>
              <div class="row-layout row-2">
                <div class="row-layout group_3">
                  <p class="left_4">
                    Type
                  </p>
                </div>
                <div class="row-layout group_4">
                  <p class="right_4">
                    Alternator
                  </p>
                </div>
              </div>
              <div class="row-layout row-5">
                <p class="left_5">
                  System Votage
                </p>
                <p class="right_5">
                  12 V
                </p>
              </div>
              <div class="row-layout row-6">
                <p class="left_6">
                  Pulleys Included
                </p>
                <p class="right_6">
                  2
                </p>
              </div>
            </div>
            <div class="column-layout right-column">
              <div class="column-layout group_5">
                <h5 class="product-description">
                  Product Description
                </h5>
              </div>
              <div class="column-layout group_6">
                <div class="row-layout row-1_1">
                  <igx-icon class="icon">
                    check_circle
                  </igx-icon>
                  <p class="text_1">
                    Key components are greased to help with long term reliability in harsh conditions
                  </p>
                </div>
                <div class="row-layout row-2_1">
                  <igx-icon class="icon">
                    check_circle
                  </igx-icon>
                  <p class="text_2">
                    Every unit is built with 100% NEW components that are designed to meet the highest quality standards
                  </p>
                </div>
                <div class="row-layout row-3_1">
                  <igx-icon class="icon">
                    check_circle
                  </igx-icon>
                  <p class="text_3">
                    Every unit is triple tested (component, subassembly and end of line) to ensure quality and performance
                  </p>
                </div>
                <p class="igx-typography__body-2 text_4">
                  New Alternators are manufactured with all new components and are the ideal high quality replacement for many vehicles on the road today. Key components are lubricated to help with performance and long life reliability. Alternators have regulators that are computer tested for voltage stability, terminal function, and electronic circuit board integrity. These premium aftermarket replacement components are manufactured to meet your expectations for fit, form, and function. Some ACDelco Gold parts may have formerly appeared as ACDelco Professional.
                </p>
              </div>
            </div>
          </div>
          <h5 class="title">
            Customers Also Purchased
          </h5>
          <div class="row-layout also-purchased-cards">
            <div class="column-layout group_7">
              <igx-card type="outlined" class="card-1">
                <igx-card-media height="194px">
                  <img src="/assets/d35690eabc22dfd929ac9b67a3152b3306b3de05.png" class="image" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>
                    Gold Alternator
                  </h3>
                  <h5 igxCardHeaderSubtitle>
                    SKU: A1234-01
                  </h5>
                </igx-card-header>
                <igx-card-content class="body-content">
                  <div class="column-layout content-style">
                    <h5 class="h5">
                      $59.90
                    </h5>
                  </div>
                </igx-card-content>
                <igx-card-actions class="actions-content">
                  <button igxButton="flat" igxRipple class="button">
                    ADD TO CART
                  </button>
                </igx-card-actions>
              </igx-card>
              <igx-card type="outlined" class="card-1">
                <igx-card-media height="194px">
                  <img src="/assets/a510853c521c6146b5b7c03ea7782ac9e31ff3ab.png" class="image" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>
                    Highlight Assembly
                  </h3>
                  <h5 igxCardHeaderSubtitle>
                    SKU: A1234-01
                  </h5>
                </igx-card-header>
                <igx-card-content class="body-content">
                  <div class="column-layout content-style">
                    <h5 class="h5">
                      $49.50
                    </h5>
                  </div>
                </igx-card-content>
                <igx-card-actions class="actions-content">
                  <button igxButton="flat" igxRipple class="button">
                    ADD TO CART
                  </button>
                </igx-card-actions>
              </igx-card>
            </div>
            <div class="column-layout group_7">
              <igx-card type="outlined" class="card-1">
                <igx-card-media height="194px">
                  <img src="/assets/8a5338718b5fdc6de7cf9e1883b7e7b87e932ef6.png" class="image" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>
                    Tail Lamp Assembly
                  </h3>
                  <h5 igxCardHeaderSubtitle>
                    SKU: A1234-01
                  </h5>
                </igx-card-header>
                <igx-card-content class="body-content">
                  <div class="column-layout content-style">
                    <h5 class="h5">
                      $19.90
                    </h5>
                  </div>
                </igx-card-content>
                <igx-card-actions class="actions-content">
                  <button igxButton="flat" igxRipple class="button">
                    ADD TO CART
                  </button>
                </igx-card-actions>
              </igx-card>
              <igx-card type="outlined" class="card-1">
                <igx-card-media height="194px">
                  <img src="/assets/9657def30d9112c43d0312ad89026deaaeb879db.png" class="image" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>
                    Winter Tires Set
                  </h3>
                  <h5 igxCardHeaderSubtitle>
                    SKU: A1234-01
                  </h5>
                </igx-card-header>
                <igx-card-content class="body-content">
                  <div class="column-layout content-style">
                    <h5 class="h5">
                      $44.50
                    </h5>
                  </div>
                </igx-card-content>
                <igx-card-actions class="actions-content">
                  <button igxButton="flat" igxRipple class="button">
                    ADD TO CART
                  </button>
                </igx-card-actions>
              </igx-card>
            </div>
            <div class="column-layout group_7">
              <igx-card type="outlined" class="card-1">
                <igx-card-media height="194px">
                  <img src="/assets/fbfca137ad1115e2119243e7f76630cd4f9f89e9.png" class="image" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>
                    Spark Plugs
                  </h3>
                  <h5 igxCardHeaderSubtitle>
                    SKU: A1234-01
                  </h5>
                </igx-card-header>
                <igx-card-content class="body-content">
                  <div class="column-layout content-style">
                    <h5 class="h5">
                      $11.00
                    </h5>
                  </div>
                </igx-card-content>
                <igx-card-actions class="actions-content">
                  <button igxButton="flat" igxRipple class="button">
                    ADD TO CART
                  </button>
                </igx-card-actions>
              </igx-card>
              <igx-card type="outlined" class="card-1">
                <igx-card-media height="194px">
                  <img src="/assets/c1b0827410af3c00e9f611aeb134f3c8479545f9.png" class="image" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>
                    Chrome exhaust pipe
                  </h3>
                  <h5 igxCardHeaderSubtitle>
                    SKU: A1234-01
                  </h5>
                </igx-card-header>
                <igx-card-content class="body-content">
                  <div class="column-layout content-style">
                    <h5 class="h5">
                      $34.50
                    </h5>
                  </div>
                </igx-card-content>
                <igx-card-actions class="actions-content">
                  <button igxButton="flat" igxRipple class="button">
                    ADD TO CART
                  </button>
                </igx-card-actions>
              </igx-card>
            </div>
            <div class="column-layout group_7">
              <igx-card type="outlined" class="card-1">
                <igx-card-media height="194px">
                  <img src="/assets/44baeff8c91a12c283c82b2622a3c8c04a733997.png" class="image" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>
                    Oil Filters
                  </h3>
                  <h5 igxCardHeaderSubtitle>
                    SKU: A1234-01
                  </h5>
                </igx-card-header>
                <igx-card-content class="body-content">
                  <div class="column-layout content-style">
                    <h5 class="h5">
                      $24.50
                    </h5>
                  </div>
                </igx-card-content>
                <igx-card-actions class="actions-content">
                  <button igxButton="flat" igxRipple class="button">
                    ADD TO CART
                  </button>
                </igx-card-actions>
              </igx-card>
              <igx-card type="outlined" class="card-1">
                <igx-card-media height="194px">
                  <img src="/assets/11ad04b52e6693653ba8076068f38a127a8aa207.png" class="image" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>
                    Battery
                  </h3>
                  <h5 igxCardHeaderSubtitle>
                    SKU: A1234-01
                  </h5>
                </igx-card-header>
                <igx-card-content class="body-content">
                  <div class="column-layout content-style">
                    <h5 class="h5">
                      $24.95
                    </h5>
                  </div>
                </igx-card-content>
                <igx-card-actions class="actions-content">
                  <button igxButton="flat" igxRipple class="button">
                    ADD TO CART
                  </button>
                </igx-card-actions>
              </igx-card>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-layout sitemap">
      <div class="column-layout column-1">
        <p class="igx-typography__subtitle-2 contact-us">
          Contact Us
        </p>
        <p class="igx-typography__body-2 street">
          1234 Street Name, CityName, ST
        </p>
        <p class="igx-typography__body-2 post-code">
          10520 United States
        </p>
        <p class="igx-typography__subtitle-2 phone-number">
          Phone Number
        </p>
        <p class="igx-typography__body-2 phone">
          1-234-567-8901
        </p>
      </div>
      <div class="column-layout column-2">
        <p class="igx-typography__subtitle-2 help">
          Help
        </p>
        <p class="igx-typography__body-2 faq">
          FAQ
        </p>
        <p class="igx-typography__body-2 returns">
          Returns
        </p>
        <p class="igx-typography__body-2 couponsdiscounts">
          Coupons&amp;Discounts
        </p>
        <p class="igx-typography__body-2 shippingreturns">
          Shipping&amp;Returns
        </p>
      </div>
      <div class="column-layout column-3">
        <p class="igx-typography__subtitle-2 about-us">
          About Us
        </p>
        <p class="igx-typography__body-2 faq_1">
          Company Info
        </p>
        <p class="igx-typography__body-2 content">
          Press Releases
        </p>
        <p class="igx-typography__body-2 about-us">
          Careers
        </p>
        <p class="igx-typography__body-2 shippingreturns_1">
          Reviews
        </p>
      </div>
      <div class="column-layout column-4">
        <p class="igx-typography__subtitle-2 services">
          Services
        </p>
        <p class="igx-typography__body-2 faq_2">
          Buy Online
        </p>
        <p class="igx-typography__body-2 about-us">
          In-Store
        </p>
        <p class="igx-typography__body-2 couponsdiscounts_1">
          Repair Help
        </p>
        <p class="igx-typography__body-2 shippingreturns_2">
          Find a Repair Shop
        </p>
      </div>
      <div class="column-layout column-5">
        <p class="igx-typography__subtitle-2 help">
          Blog
        </p>
        <p class="igx-typography__body-2 faq_3">
          Car Building Basics
        </p>
        <p class="igx-typography__body-2 returns_1">
          Do It Yourself
        </p>
        <p class="igx-typography__body-2 couponsdiscounts_2">
          Your Home Workshop
        </p>
        <p class="igx-typography__body-2 shippingreturns_3">
          Advanced Building
        </p>
      </div>
    </div>
    <div class="row-layout footer">
      <div class="row-layout items">
        <p class="igx-typography__body-2 copyright-2021-auto">
          Copyright ©2021 AutoShop.com, Inc. All Rights Reserved.
        </p>
        <p class="igx-typography__body-2 terms-of-use">
          Terms of Use
        </p>
        <p class="igx-typography__body-2 privacy-policy">
          Privacy Policy
        </p>
        <p class="igx-typography__body-2 site-map">
          Site Map
        </p>
      </div>
    </div>
  </div>
</div>
