<div class="column-layout shopping-cart">
  <div class="column-layout background">
    <div class="row-layout header">
      <div class="row-layout left">
        <img src="/assets/3c54e5ae61c1ca88d38e16b4a3c91eb22cc325e9.png" class="auto-shop_logo" />
        <button igxButton="flat" igxRipple class="auto-body-button">
          Auto Body Parts
        </button>
        <button igxButton="flat" igxRipple class="lighting-button">
          Lighting
        </button>
        <button igxButton="flat" igxRipple class="engine-drivetrain-button">
          Engine &amp; Drivetrain
        </button>
        <button igxButton="flat" igxRipple class="engine-drivetrain-button">
          Brakes &amp; Suspension
        </button>
        <button igxButton="flat" igxRipple class="interior">
          Interior
        </button>
        <button igxButton="flat" igxRipple class="exterior">
          EXterior
        </button>
      </div>
      <div class="row-layout right">
        <button igxButton="icon" igxRipple class="search-button">
          <igx-icon>
            search
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="search-button">
          <igx-icon>
            account_circle
          </igx-icon>
        </button>
        <button igxButton="icon" igxRipple class="search-button">
          <igx-icon>
            shopping_basket
          </igx-icon>
        </button>
      </div>
    </div>
    <div class="row-layout subheader">
      <div class="column-layout group">
        <img src="/assets/fbeff80c44630a8d3cefde0ed91f7c77e163db31.png" class="auto-deals_logo" />
        <p class="text">
          Enjoy 20% off on all your weekend purchases
        </p>
      </div>
    </div>
    <div class="row-layout body">
      <div class="column-layout product">
        <h5 class="content_1">
          Shopping Cart
        </h5>
        <igx-list class="shopping-list">
          <igx-list-item [isHeader]="false">
            <span igxListThumbnail>
              <igx-avatar src="/assets/e1b61ab84dbb41c41a404ed3dfd4740313ddb5b9.png" class="avatar"></igx-avatar>
            </span>
            <span igxListLineTitle>Gold Alternator</span>
            <span igxListLineSubTitle>Qty: 1</span>
            <span igxListAction>
              <div class="row-layout group_1">
                <p class="igx-typography__subtitle-2 text_1">
                  $59.90
                </p>
                <igx-icon class="icon">
                  delete
                </igx-icon>
              </div>
            </span>
          </igx-list-item>
          <igx-list-item [isHeader]="false">
            <span igxListThumbnail>
              <igx-avatar src="/assets/e469afd9a1cdc310d3558f73c43ac021b0a1d229.png" class="avatar"></igx-avatar>
            </span>
            <span igxListLineTitle>Tail Lamp Assembly</span>
            <span igxListLineSubTitle>Qty: 1</span>
            <span igxListAction>
              <div class="row-layout group_1">
                <p class="igx-typography__subtitle-2 text_1">
                  $19.50
                </p>
                <igx-icon class="icon">
                  delete
                </igx-icon>
              </div>
            </span>
          </igx-list-item>
          <igx-list-item [isHeader]="false">
            <span igxListThumbnail>
              <igx-avatar src="/assets/bc06eb2067596ce9b5d6d7a4ee01cbdbaca7ebf9.png" class="avatar"></igx-avatar>
            </span>
            <span igxListLineTitle>Winter Tires Set</span>
            <span igxListLineSubTitle>Qty: 1</span>
            <span igxListAction>
              <div class="row-layout group_1">
                <p class="igx-typography__subtitle-2 text_1">
                  $41.50
                </p>
                <igx-icon class="icon">
                  delete
                </igx-icon>
              </div>
            </span>
          </igx-list-item>
          <igx-list-item [isHeader]="false">
            <span igxListThumbnail>
              <igx-avatar src="/assets/60462fa111c66af13a44c8d8ee4a05ffc396b91d.png" class="avatar"></igx-avatar>
            </span>
            <span igxListLineTitle>Oil Filter</span>
            <span igxListLineSubTitle>Qty: 1</span>
            <span igxListAction>
              <div class="row-layout group_1">
                <p class="igx-typography__subtitle-2 text_1">
                  $49.50
                </p>
                <igx-icon class="icon">
                  delete
                </igx-icon>
              </div>
            </span>
          </igx-list-item>
          <igx-list-item [isHeader]="false">
            <span igxListThumbnail>
              <igx-avatar src="/assets/9817d5fb3cf42ba5636cec204fd438c356cc1a9f.png" class="avatar"></igx-avatar>
            </span>
            <span igxListLineTitle>Headlight Assembly</span>
            <span igxListLineSubTitle>Qty: 1</span>
            <span igxListAction>
              <div class="row-layout group_1">
                <p class="igx-typography__subtitle-2 text_1">
                  $29.90
                </p>
                <igx-icon class="icon">
                  delete
                </igx-icon>
              </div>
            </span>
          </igx-list-item>
        </igx-list>
      </div>
      <div class="column-layout summary">
        <div class="column-layout group_2">
          <h6 class="content">
            Cart totals
          </h6>
        </div>
        <div class="column-layout group_3">
          <div class="row-layout row-1">
            <p class="igx-typography__subtitle-2 label">
              Subtotal
            </p>
            <p class="cost">
              $198.30
            </p>
          </div>
          <div class="row-layout row-2">
            <p class="igx-typography__subtitle-2 label_1">
              Shipping
            </p>
            <p class="cost_1">
              $0
            </p>
          </div>
          <p class="igx-typography__body-2 label_2">
            Shipping will be calculated at checkout
          </p>
          <a href="url" target="_blank" class="shipping"></a>
          <div class="row-layout row-3">
            <h6 class="label_3">
              Total
            </h6>
            <h6 class="cost_2">
              $198.30
            </h6>
          </div>
        </div>
        <div class="column-layout group_4">
          <button igxButton="raised" igxRipple class="checkout-button">
            PROCEED TO CHECKOUT
          </button>
        </div>
      </div>
    </div>
    <div class="row-layout sitemap">
      <div class="column-layout column-1">
        <p class="igx-typography__subtitle-2 contact-us">
          Contact Us
        </p>
        <p class="igx-typography__body-2 street">
          1234 Street Name, CityName, ST
        </p>
        <p class="igx-typography__body-2 post-code">
          10520 United States
        </p>
        <p class="igx-typography__subtitle-2 content">
          Phone Number
        </p>
        <p class="igx-typography__body-2 phone">
          1-234-567-8901
        </p>
      </div>
      <div class="column-layout column-2">
        <p class="igx-typography__subtitle-2 help">
          Help
        </p>
        <p class="igx-typography__body-2 faq">
          FAQ
        </p>
        <p class="igx-typography__body-2 returns">
          Returns
        </p>
        <p class="igx-typography__body-2 content_1">
          Coupons&amp;Discounts
        </p>
        <p class="igx-typography__body-2 shippingreturns">
          Shipping&amp;Returns
        </p>
      </div>
      <div class="column-layout column-3">
        <p class="igx-typography__subtitle-2 about-us">
          About Us
        </p>
        <p class="igx-typography__body-2 faq_1">
          Company Info
        </p>
        <p class="igx-typography__body-2 returns_1">
          Press Releases
        </p>
        <p class="igx-typography__body-2 about-us">
          Careers
        </p>
        <p class="igx-typography__body-2 shippingreturns_1">
          Reviews
        </p>
      </div>
      <div class="column-layout column-4">
        <p class="igx-typography__subtitle-2 services">
          Services
        </p>
        <p class="igx-typography__body-2 faq_2">
          Buy Online
        </p>
        <p class="igx-typography__body-2 about-us">
          In-Store
        </p>
        <p class="igx-typography__body-2 couponsdiscounts">
          Repair Help
        </p>
        <p class="igx-typography__body-2 shippingreturns_2">
          Find a Repair Shop
        </p>
      </div>
      <div class="column-layout column-5">
        <p class="igx-typography__subtitle-2 help">
          Blog
        </p>
        <p class="igx-typography__body-2 faq_3">
          Car Building Basics
        </p>
        <p class="igx-typography__body-2 returns_2">
          Do It Yourself
        </p>
        <p class="igx-typography__body-2 couponsdiscounts_1">
          Your Home Workshop
        </p>
        <p class="igx-typography__body-2 shippingreturns_3">
          Advanced Building
        </p>
      </div>
    </div>
    <div class="row-layout footer">
      <div class="row-layout items">
        <p class="igx-typography__body-2 copyright-2021-auto">
          Copyright ©2021 AutoShop.com, Inc. All Rights Reserved.
        </p>
        <p class="igx-typography__body-2 terms-of-use">
          Terms of Use
        </p>
        <p class="igx-typography__body-2 privacy-policy">
          Privacy Policy
        </p>
        <p class="igx-typography__body-2 site-map">
          Site Map
        </p>
      </div>
    </div>
  </div>
</div>
