/* You can add global styles to this file, and also import other style files */

// Standard CSS normalize, comment out if not required or using a different module
@use "~minireset.css/minireset";
@use "igniteui-angular/theming" as *;

@include core();
@include typography();
@include light-theme($light-material-palette);

body {
  background: hsla(var(--igx-surface-500));
  color: var(--igx-surface-500-contrast);
}

html, body {
  height: 100%;
}

.igx-typography {
  h1, h2, h3, h4, h5, h6, p, .igx-typography__body-1 {
    margin: 0;
  }
}

.outer-wrapper > *:not(router-outlet) {
  width: 100%;
}
