<div class="column-layout home">
  <div class="column-layout background">
    <div class="column-layout group">
      <div class="column-layout group_1">
        <div class="row-layout header">
          <div class="row-layout left">
            <img src="/assets/3c54e5ae61c1ca88d38e16b4a3c91eb22cc325e9.png" class="auto-shop_logo" />
            <button igxButton="flat" igxRipple class="auto-body-button">
              Auto Body Parts
            </button>
            <button igxButton="flat" igxRipple class="lighting-button">
              Lighting
            </button>
            <button igxButton="flat" igxRipple class="engine-drivetrain-button">
              Engine &amp; Drivetrain
            </button>
            <button igxButton="flat" igxRipple class="engine-drivetrain-button">
              Brakes &amp; Suspension
            </button>
            <button igxButton="flat" igxRipple class="interior">
              Interior
            </button>
            <button igxButton="flat" igxRipple class="exterior">
              Exterior
            </button>
          </div>
          <div class="row-layout right">
            <button igxButton="icon" igxRipple class="search-button">
              <igx-icon>
                search
              </igx-icon>
            </button>
            <button igxButton="icon" igxRipple class="search-button">
              <igx-icon>
                account_circle
              </igx-icon>
            </button>
            <button igxButton="icon" igxRipple class="search-button">
              <igx-icon>
                shopping_basket
              </igx-icon>
            </button>
          </div>
        </div>
        <div class="row-layout subheader">
          <div class="column-layout group_2">
            <div class="column-layout group_3">
              <h4 class="title">
                All the auto parts you need in one place
              </h4>
              <p class="text">
                We have the most popular brands and all the parts for your vehicle
              </p>
            </div>
            <div class="column-layout group_4">
              <div class="row-layout search">
                <igx-select type="box" placeholder="Select Year" class="year-select">
                  <igx-select-item [isHeader]="true">
                    Option
                  </igx-select-item>
                  <label igxLabel>Year</label>
                </igx-select>
                <igx-select type="box" placeholder="Select Brand" class="brand-select">
                  <igx-select-item [isHeader]="true">
                    Option
                  </igx-select-item>
                  <label igxLabel>Brand</label>
                </igx-select>
                <igx-select type="box" placeholder="Select Model" class="brand-select">
                  <igx-select-item [isHeader]="true">
                    Option
                  </igx-select-item>
                  <label igxLabel>Model</label>
                </igx-select>
                <igx-select type="box" placeholder="Select Engine" class="brand-select">
                  <igx-select-item [isHeader]="true">
                    Option
                  </igx-select-item>
                  <label igxLabel>Engine</label>
                </igx-select>
                <button igxButton="raised" igxRipple class="buttonraisedenabled">
                  SEARCH
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="column-layout body">
          <h5 class="popular-categories">
            Popular Categories
          </h5>
          <div class="row-layout popular-cards">
            <div class="column-layout group_5">
              <igx-card type="outlined" class="card-1">
                <igx-card-media height="194px">
                  <img src="/assets/1f335606b32255ccbb229d512051f2e7024fc062.png" class="image" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>
                    AUTO BODY PARTS
                  </h3>
                  <h5 igxCardHeaderSubtitle>
                    Bumpers, Fenders, Mirrors, Hoods, Grilles, Door 
handles, Windows
                  </h5>
                </igx-card-header>
              </igx-card>
              <igx-card type="outlined" class="card-1">
                <igx-card-media height="194px">
                  <img src="/assets/38158d300957f53d6c8a8b98084acfcc510d9ebe.png" class="image" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>
                    BRAKES &amp; SUSPENSION
                  </h3>
                  <h5 igxCardHeaderSubtitle>
                    Discs, Shocks, Control Arms, Wheel Hubs, 
Wheels, Tie Rods
                  </h5>
                </igx-card-header>
              </igx-card>
            </div>
            <div class="column-layout group_5">
              <igx-card type="outlined" class="card-1">
                <igx-card-media height="194px">
                  <img src="/assets/8ca6c7706a31e3986919ceeca4afe928b0bedd2c.png" class="image" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>
                    HEADLIGHTS &amp; LIGHTING
                  </h3>
                  <h5 igxCardHeaderSubtitle>
                    Headlights, Tail, Fog, Turn Signals, Switches, 
Corner, Off-Road, Bulbs
                  </h5>
                </igx-card-header>
              </igx-card>
              <igx-card type="outlined" class="card-1">
                <igx-card-media height="194px">
                  <img src="/assets/0ca3566f655f8839f2640e1e61c96e022c157b2e.png" class="image" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>
                    INTERIOR ACCESSORIES
                  </h3>
                  <h5 igxCardHeaderSubtitle>
                    Seats, Carpet, Floor Mats, Dashboard, Switches, 
Gauges &amp; Monitors
                  </h5>
                </igx-card-header>
              </igx-card>
            </div>
            <div class="column-layout group_5">
              <igx-card type="outlined" class="card-1">
                <igx-card-media height="194px">
                  <img src="/assets/8277aa050ac2f7a1eac383d8a64aa847001d4110.png" class="image" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>
                    ENGINE &amp; DRIVETRAIN
                  </h3>
                  <h5 igxCardHeaderSubtitle>
                    Catalytic Converters, Radiators, Fuel Systems, 
Heating, Cranks, Pistons
                  </h5>
                </igx-card-header>
              </igx-card>
              <igx-card type="outlined" class="card-1">
                <igx-card-media height="194px">
                  <img src="/assets/fe0f4dfb9533bef912b6f379d3173ab0233e2e6d.png" class="image" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>
                    EXTERIOR ACCESSORIES
                  </h3>
                  <h5 igxCardHeaderSubtitle>
                    Bumpers, Hoods, Grilles, Fog lights, Door 
Handles, Locks, Covers
                  </h5>
                </igx-card-header>
              </igx-card>
            </div>
          </div>
          <h5 class="featured-products">
            Featured Products
          </h5>
          <div class="row-layout featured-cards">
            <div class="column-layout group_6">
              <igx-card type="outlined" class="card-1">
                <igx-card-media height="194px">
                  <img src="/assets/d35690eabc22dfd929ac9b67a3152b3306b3de05.png" class="image" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>
                    Gold Alternator
                  </h3>
                  <h5 igxCardHeaderSubtitle>
                    This is a brief product description, not longer than
2 lines of text.
                  </h5>
                </igx-card-header>
                <igx-card-content class="body-content">
                  <div class="column-layout content-style">
                    <h5 class="h5">
                      $59.90
                    </h5>
                  </div>
                </igx-card-content>
                <igx-card-actions class="actions-content">
                  <button igxButton="flat" igxRipple class="button">
                    ADD TO CART
                  </button>
                </igx-card-actions>
              </igx-card>
              <igx-card type="outlined" class="card-1">
                <igx-card-media height="194px">
                  <img src="/assets/fbfca137ad1115e2119243e7f76630cd4f9f89e9.png" class="image" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>
                    Spark Plugs
                  </h3>
                  <h5 igxCardHeaderSubtitle>
                    This is a brief product description, not longer than
2 lines of text.
                  </h5>
                </igx-card-header>
                <igx-card-content class="body-content">
                  <div class="column-layout content-style">
                    <h5 class="h5">
                      $11.00
                    </h5>
                  </div>
                </igx-card-content>
                <igx-card-actions class="actions-content">
                  <button igxButton="flat" igxRipple class="button">
                    ADD TO CART
                  </button>
                </igx-card-actions>
              </igx-card>
            </div>
            <div class="column-layout group_6">
              <igx-card type="outlined" class="card-1">
                <igx-card-media height="194px">
                  <img src="/assets/9657def30d9112c43d0312ad89026deaaeb879db.png" class="image" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>
                    Winter Tires Set
                  </h3>
                  <h5 igxCardHeaderSubtitle>
                    This is a brief product description, not longer than
2 lines of text.
                  </h5>
                </igx-card-header>
                <igx-card-content class="body-content">
                  <div class="column-layout content-style">
                    <h5 class="h5">
                      $44.50
                    </h5>
                  </div>
                </igx-card-content>
                <igx-card-actions class="actions-content">
                  <button igxButton="flat" igxRipple class="button">
                    ADD TO CART
                  </button>
                </igx-card-actions>
              </igx-card>
              <igx-card type="outlined" class="card-1">
                <igx-card-media height="194px">
                  <img src="/assets/8a5338718b5fdc6de7cf9e1883b7e7b87e932ef6.png" class="image" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>
                    Tail Lamp Assembly
                  </h3>
                  <h5 igxCardHeaderSubtitle>
                    This is a brief product description, not longer than
2 lines of text.
                  </h5>
                </igx-card-header>
                <igx-card-content class="body-content">
                  <div class="column-layout content-style">
                    <h5 class="h5">
                      $19.90
                    </h5>
                  </div>
                </igx-card-content>
                <igx-card-actions class="actions-content">
                  <button igxButton="flat" igxRipple class="button">
                    ADD TO CART
                  </button>
                </igx-card-actions>
              </igx-card>
            </div>
            <div class="column-layout group_6">
              <igx-card type="outlined" class="card-1">
                <igx-card-media height="194px">
                  <img src="/assets/a510853c521c6146b5b7c03ea7782ac9e31ff3ab.png" class="image" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>
                    Highlight Assembly
                  </h3>
                  <h5 igxCardHeaderSubtitle>
                    This is a brief product description, not longer than
2 lines of text.
                  </h5>
                </igx-card-header>
                <igx-card-content class="body-content">
                  <div class="column-layout content-style">
                    <h5 class="h5">
                      $49.50
                    </h5>
                  </div>
                </igx-card-content>
                <igx-card-actions class="actions-content">
                  <button igxButton="flat" igxRipple class="button">
                    ADD TO CART
                  </button>
                </igx-card-actions>
              </igx-card>
              <igx-card type="outlined" class="card-1">
                <igx-card-media height="194px">
                  <img src="/assets/44baeff8c91a12c283c82b2622a3c8c04a733997.png" class="image" />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>
                    Oil Filters
                  </h3>
                  <h5 igxCardHeaderSubtitle>
                    This is a brief product description, not longer than
2 lines of text.
                  </h5>
                </igx-card-header>
                <igx-card-content class="body-content">
                  <div class="column-layout content-style">
                    <h5 class="h5">
                      $24.50
                    </h5>
                  </div>
                </igx-card-content>
                <igx-card-actions class="actions-content">
                  <button igxButton="flat" igxRipple class="button">
                    ADD TO CART
                  </button>
                </igx-card-actions>
              </igx-card>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-layout sitemap">
      <div class="column-layout column-1">
        <p class="igx-typography__subtitle-2 contact-us">
          Contact Us
        </p>
        <p class="igx-typography__body-2 street">
          1234 Street Name, CityName, ST
        </p>
        <p class="igx-typography__body-2 post-code">
          10520 United States
        </p>
        <p class="igx-typography__subtitle-2 phone-number">
          Phone Number
        </p>
        <p class="igx-typography__body-2 phone">
          1-234-567-8901
        </p>
      </div>
      <div class="column-layout column-2">
        <p class="igx-typography__subtitle-2 help">
          Help
        </p>
        <p class="igx-typography__body-2 faq">
          FAQ
        </p>
        <p class="igx-typography__body-2 returns">
          Returns
        </p>
        <p class="igx-typography__body-2 couponsdiscounts">
          Coupons&amp;Discounts
        </p>
        <p class="igx-typography__body-2 shippingreturns">
          Shipping&amp;Returns
        </p>
      </div>
      <div class="column-layout column-3">
        <p class="igx-typography__subtitle-2 about-us">
          About Us
        </p>
        <p class="igx-typography__body-2 faq_1">
          Company Info
        </p>
        <p class="igx-typography__body-2 returns_1">
          Press Releases
        </p>
        <p class="igx-typography__body-2 about-us">
          Careers
        </p>
        <p class="igx-typography__body-2 shippingreturns_1">
          Reviews
        </p>
      </div>
      <div class="column-layout column-4">
        <p class="igx-typography__subtitle-2 services">
          Services
        </p>
        <p class="igx-typography__body-2 faq_2">
          Buy Online
        </p>
        <p class="igx-typography__body-2 about-us">
          In-Store
        </p>
        <p class="igx-typography__body-2 couponsdiscounts_1">
          Repair Help
        </p>
        <p class="igx-typography__body-2 shippingreturns_2">
          Find a Repair Shop
        </p>
      </div>
      <div class="column-layout column-5">
        <p class="igx-typography__subtitle-2 help">
          Blog
        </p>
        <p class="igx-typography__body-2 faq_3">
          Car Building Basics
        </p>
        <p class="igx-typography__body-2 returns_2">
          Do It Yourself
        </p>
        <p class="igx-typography__body-2 couponsdiscounts_2">
          Your Home Workshop
        </p>
        <p class="igx-typography__body-2 shippingreturns_3">
          Advanced Building
        </p>
      </div>
    </div>
    <div class="row-layout footer">
      <div class="row-layout items">
        <p class="igx-typography__body-2 copyright-2021-auto">
          Copyright ©2021 AutoShop.com, Inc. All Rights Reserved.
        </p>
        <p class="igx-typography__body-2 terms-of-use">
          Terms of Use
        </p>
        <p class="igx-typography__body-2 privacy-policy">
          Privacy Policy
        </p>
        <p class="igx-typography__body-2 site-map">
          Site Map
        </p>
      </div>
    </div>
  </div>
</div>
